<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="print.css" />
  </head>
  <body>
    <div class="all">
      <div class="img">
        <img src="/images/cat2.jfif" />
      </div>
      <div>
        <p class="para">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus,
          eveniet? Cumque sed consequatur tenetur porro eveniet nisi molestiae
          hic, soluta provident vel necessitatibus aperiam enim, reprehenderit
          distinctio cum adipisci expedita.
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam odio fugiat fuga nihil tempore temporibus laudantium non. Temporibus nesciunt pariatur qui sit quidem dolore placeat saepe libero numquam optio! Ipsam.</p>
        </p>
      </div>
      <div class="profile">
        <img  class="cat" src="/images/cat4.jfif" alt="" />
        <div class="user">

          <p class="name">Muthu Mythu</p>
          <p class="date">28 jan 2020</p>
        </div>
        <div class="share">
          <img  class="icon" src="/images/fb.png" alt="">
          <img  class="icon" src="/images/insta.jfif" alt="">
          <img  class="icon" src="/images/whatsapp.png" alt="">
          
        </div>
        <div class="notify">
        <img  class="cat2" src="/images/cat3.jfif" alt="" />
      </div>
      </div>
    </div>
  </body>
</html>
